<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>View User</title>
</head>
<body align="center">

<h1>View User</h1>

<br/><br/>
<div align="center" th:if="${user}">
    <table border="0">
        <tr>
            <td>ID</td>
            <td>:</td>
            <td th:utext="${user.id}">...</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td th:utext="${user.getFirstName()}">...</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>:</td>
            <td th:utext="${user.getLastName()}">...</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td th:utext="${user.getEmail()}">...</td>
        </tr>
    </table>
</div>
<br>
<br>
<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>